

.header .container {
display: flex;
justify-content: center;
}

.info .container{

justify-content: center;
}

.header_menu {
    margin-bottom: 25px;
}

.menu_list{
    display: flex;
    align-items: center;
    }

.menu_item {
    margin-right: 31px;
}
.menu_item:last-child {
    margin-right: 0;
}
.menu_link {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-family: Open Sans;
    font-weight: bold;
}


.preview {
    padding: 130px 0px;
    background: url("./img/photo.png") center center;
}

.preview_title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    
    color: #ffffff;
}

.preview_button {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #162C38;
}

.info {
    background: #125b7c;
}

.info_text {
max-width: 726px;
font-family: Open Sans;
font-size: 36px;
line-height: 49px;
text-align: center;
margin: 0 auto;
color:#ffffff;
}

