
.container{
    max-width: 1300px;
    margin: 0 auto;
    position:relative;
}

.header {
    padding: 50px 0;
}

.menu {
    text-align: center;
}

.menu_item {
    margin-right: 31px;
    display: inline;
}
.menu_item:last-child {
    margin-right: 0;
}
.menu_link {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-family: Open Sans;
    font-weight: bold;
}

.preview {
    padding: 130px 0;
    background-image: url("./img/photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview_title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #ffffff;
}

.preview_button {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #162C38;
    padding: 10px 122px;
    border-radius: 5px;
    margin-top: 14px;
}

.container-text{
    max-width: 420px;
    margin: 40px auto;
    position: relative;
}

.container-form{
    max-width: 420px;
    margin: 40px auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.container-item{
    position: relative;
}

.item{
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    bottom: 150px;

}

.item-two{
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    bottom: 400px;

}

.item-three{
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    right: 0px;
    bottom: 150px;

}

.pretitle {
    background: #125b7c;
    padding:133px 274px 134px 300px;
    
}

.pretitle_text {
max-width: 726px;
font-family: Open Sans;
font-size: 36px;
line-height: 49px;
text-align: center;
margin: 0 auto;
color:#ffffff;
padding: 30px 0;
background-position: center;
}


.text-one{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    color: black;
    max-width: 700px;
    margin: 220px auto;
    text-align: center;
}

.text-two{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 42px;
    color: black;
    max-width: 700px;
    margin: 220px auto;
    text-align: center;
}

.text_text-two::before{
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    left: -10%;
    top: -10%;
    background: #5C98AB;
    border-radius: 90px;
}


.text_text-two::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: -50px;
    border-radius: 90px;
    background: #BFDEFB;
}


.input-holder, input{
    width: 100%;
}

.input-holder{
    margin-bottom: 30px;
    position: relative;
}

.input{
    padding: 36px 0 11px 34px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 18px;
    font-family: Open Sans;
    box-sizing: border-box;
}

.input::placeholder{
    color: black;
}


.label{
    position: absolute;
    top: 14px;
    left: 30px;
}


.button{
    background-color: #5C98AB;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 15px 0;
    border: none;
    font-weight: bold;
}


